.parrafoQuienesSomos {
    font-style: italic;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}
.parrafoQuienesSomos:hover {
    transform: scale(1.3);
    transition: all 1.2s;
}