.fotoLogo {
    width: 50px;
}

.fotoLogo:hover {
    transform: scale(3);
}


.txtCarro {
    color: black;
}

.navBar {
    display: flex;
    justify-content: center;
}

.logoIg {
    width: 50px;
}


.footer {
    padding-top: 100px;
}

.iconoIg {
    display: flex;
    justify-content: end;
}

.iFrame {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}



.logoIgma {
    display: flex;
    justify-content: center;
}

.carousel-item {
    width: 800px;
}

.carouselContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-top: 50px;
}

.productosDestacados1 {
    width: 150px;
}

.productosDestacados {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.pdTitulo {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.h4PD {
    font-size: 15px;
    
}

.descripcionPD {
    display: flex;
    justify-content: space-between;
}