

.fotoLogo {
    width: 50px;
}

.productosDestacados1:hover {
    transform: scale(2);
    transition-property: all;
    transition-duration: 1.0s;
}


.txtCarro {
    color: black;
}

.navBar {
    display: flex;
    justify-content: center;
}

.logoIg {
    width: 50px;
}


.footer {
    padding-top: 100px;
}

.iconoIg {
    display: flex;
    justify-content: end;
}

.iFrame {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}



.logoIgma {
    display: flex;
    justify-content: center;
}


.pdTitulo {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.carousel-item{
    height: 600px;
}


.productosDestacados1 {
    width: 150px;
}

.productosDestacados {
    margin: 40px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.pdTitulo {
    padding-top: 100px;
    display: flex;
    justify-content: start;
}

.h4PD {
    font-size: 15px;
    
}

.descripcionPD {
    display: flex;
    justify-content: space-between;
}

.botones {
    display: flex;
    justify-content: space-between;
}

.preFin {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.compraCon {
    display: flex;
    justify-content: end;
}

.pagaComo {
    display: flex;
    justify-content: center;
}

.banner {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.sticky { 
    position: sticky;
    top: 0;
    
}

.carousel-control-next,
.carousel-control-prev{
    filter: invert(100%);
}

.footerTargets {
    display: flex;
    justify-content: space-around;
}

.pdTitulo {
    text-decoration: underline;
}

.pdTitulo:hover {
    transform: translate(490px);
    transition: all 1.5s;
}

.pdSize {
    font-size: 25px;
}

.preFinBC {
    background-color: rgba(236, 235, 235, 0.842);
}

.parrafoQuienesSomos {
    font-style: italic;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
}

.parrafoQuienesSomos:hover {
    transform: scale(1.3);
    transition: all 1.2s;
}

/*Inicio contacto*/


.containerContacto {
    padding-top: 100px;
    
}

.tarjetaContacto {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  
   padding-bottom: 100px;
  
  
   
}