.fotoLogo {
    width: 50px;
}

.fotoLogo:hover {
    transform: scale(3);
}

.fotoSet {
    width: 500px;
}

.fotoCanula {
    width: 500px;
}

.carrouselContainer {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.txtCarro {
    color: black;
}

.navBar {
    display: flex;
    justify-content: center;
}

.logoIg {
    width: 50px;
}


.footer {
    padding-top: 100px;
}

.iconoIg {
    display: flex;
    justify-content: end;
}

.iFrame {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}



.logoIgma {
    display: flex;
    justify-content: center;;
}